web/WEB-INF/wsdl/localhost_9999/carritoCompra2_Servidor/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:9999/carritoCompra2_Servidor/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="InfoClientes">
<part name="parameters" element="tns:InfoClientes"/>
</message>
<message name="InfoClientesResponse">
<part name="parameters" element="tns:InfoClientesResponse"/>
</message>
<message name="InfoProducto">
<part name="parameters" element="tns:InfoProducto"/>
</message>
<message name="InfoProductoResponse">
<part name="parameters" element="tns:InfoProductoResponse"/>
</message>
<message name="ListaProductos">
<part name="parameters" element="tns:ListaProductos"/>
</message>
<message name="ListaProductosResponse">
<part name="parameters" element="tns:ListaProductosResponse"/>
</message>
<message name="InsertarVenta">
<part name="parameters" element="tns:InsertarVenta"/>
</message>
<message name="InsertarVentaResponse">
<part name="parameters" element="tns:InsertarVentaResponse"/>
</message>
<message name="ListaCategorias">
<part name="parameters" element="tns:ListaCategorias"/>
</message>
<message name="ListaCategoriasResponse">
<part name="parameters" element="tns:ListaCategoriasResponse"/>
</message>
<message name="BuscarProducto">
<part name="parameters" element="tns:BuscarProducto"/>
</message>
<message name="BuscarProductoResponse">
<part name="parameters" element="tns:BuscarProductoResponse"/>
</message>
<message name="NumeroFilas">
<part name="parameters" element="tns:NumeroFilas"/>
</message>
<message name="NumeroFilasResponse">
<part name="parameters" element="tns:NumeroFilasResponse"/>
</message>
<message name="VerificaUsuario">
<part name="parameters" element="tns:VerificaUsuario"/>
</message>
<message name="VerificaUsuarioResponse">
<part name="parameters" element="tns:VerificaUsuarioResponse"/>
</message>
<portType name="Servicios">
<operation name="InfoClientes">
<input wsam:Action="http://ws/Servicios/InfoClientesRequest" message="tns:InfoClientes"/>
<output wsam:Action="http://ws/Servicios/InfoClientesResponse" message="tns:InfoClientesResponse"/>
</operation>
<operation name="InfoProducto">
<input wsam:Action="http://ws/Servicios/InfoProductoRequest" message="tns:InfoProducto"/>
<output wsam:Action="http://ws/Servicios/InfoProductoResponse" message="tns:InfoProductoResponse"/>
</operation>
<operation name="ListaProductos">
<input wsam:Action="http://ws/Servicios/ListaProductosRequest" message="tns:ListaProductos"/>
<output wsam:Action="http://ws/Servicios/ListaProductosResponse" message="tns:ListaProductosResponse"/>
</operation>
<operation name="InsertarVenta">
<input wsam:Action="http://ws/Servicios/InsertarVentaRequest" message="tns:InsertarVenta"/>
<output wsam:Action="http://ws/Servicios/InsertarVentaResponse" message="tns:InsertarVentaResponse"/>
</operation>
<operation name="ListaCategorias">
<input wsam:Action="http://ws/Servicios/ListaCategoriasRequest" message="tns:ListaCategorias"/>
<output wsam:Action="http://ws/Servicios/ListaCategoriasResponse" message="tns:ListaCategoriasResponse"/>
</operation>
<operation name="BuscarProducto">
<input wsam:Action="http://ws/Servicios/BuscarProductoRequest" message="tns:BuscarProducto"/>
<output wsam:Action="http://ws/Servicios/BuscarProductoResponse" message="tns:BuscarProductoResponse"/>
</operation>
<operation name="NumeroFilas">
<input wsam:Action="http://ws/Servicios/NumeroFilasRequest" message="tns:NumeroFilas"/>
<output wsam:Action="http://ws/Servicios/NumeroFilasResponse" message="tns:NumeroFilasResponse"/>
</operation>
<operation name="VerificaUsuario">
<input wsam:Action="http://ws/Servicios/VerificaUsuarioRequest" message="tns:VerificaUsuario"/>
<output wsam:Action="http://ws/Servicios/VerificaUsuarioResponse" message="tns:VerificaUsuarioResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="InfoClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InfoProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListaProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="InsertarVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListaCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NumeroFilas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VerificaUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:9999/carritoCompra2_Servidor/Servicios"/>
</port>
</service>
</definitions>